{% load static %}
{% load custom_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        {% block links %}{% endblock %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="{% url 'all_films' %}">Films</a>
                <a href="{% url 'favourite_films' %}">Favourite ({% amount_favourite_films request %})</a>
            </nav>
        </header>
        {% block content %}

        {% endblock %}
        
    </body>
</html>