{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    <title> 
        Films 
    </title>
{% endblock %}

{% block content %}
    <h1>Films</h1>
    {% filter_genres %}
    <div id="allFilms">
        {% for film in all_films %}
            <hr>
            <div>
                <h1>{{ film.name }}</h1>
                <p>Жанр: {{ film.genre }}</p>
                <img src="{{ film.image.url }}">
                <p>{{ film.description }}</p>
                <p>
                    <button value="{% url 'add_to_favourite' film.id %}" class="add-to-favorite">add to favorite</button>
                </p>
            </div>
        {% endfor %}
        <hr>
        <hr>
    </div>

    <form id="reviewForm" method="post">
        <hr>
        <h2>Задайте свій відгук про наш веб-хост</h2>
        <p id="message_success" ></p>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Відправити</button>
    </form>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/favourite.js' %}"></script>
    <script src="{% static 'js/send_review.js' %}"></script>
{% endblock %}

